<div id="about">
    <h1>About Me</h1>
    <div id="intro">
        <img id="personal-img" src="/images/Obai_circle.png" alt="Obai Alnajjar">
        <div id="summary">
            <h4>Junior Full-Stack developer based in Jeddah, Saudi Arabia</h4>
            <p>I'm <%= age %> years old with a passion for problem-solving, when I'm not coding, I'm binge-watching on
                Netflix, and I'm in a serious love/hate relationship with UI design.</p>
            <div id="honors">
                <div class="badge">
                    <img src="/images/nc3.png" alt="Saudi Arabia national programming contest logo">

                    <p>3rd place <br> Saudi Arabia national programming contest</p>
                    <time>February, 2017</time>
                </div>
                <div class="badge">
                    <img src="/images/icpc.png" alt="ACM International Collegiate Programming Contest logo">
                    <p>2nd place<br> on Gulf teams in the ACM Arab Collegiate Programming Contest</p>
                    <time>November, 2017</time>
                </div>
                <div class="badge">
                    <img src="/images/Udacity.png" alt="Udacity logo">
                    <p>Certified Full-Stack Web Developer</p>
                    <time>December, 2018</time>
                </div>
            </div>
        </div>
    </div>
</div>
