<footer>
    <div id="social">
        <a href="mailto:admin@obai.dev"><i class="fas fa-envelope-square"></i></a>
        <a href="https://linkedin.com/in/obai-alnajjar"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/0bai"><i class="fab fa-github-square"></i></a>
    </div>
    <p>Obai Alnajjar @<%=year%><p/>
</footer>
