<!--Fork from Conor(https://codepen.io/CKH4/)-->
<div id="header">
    <div class="slide">
        <p>Full-Stack Web Developer</p>
        <h1>Obai Alnajjar </h1>
    </div>

    <div class="slide">
        <p>Programming Languages</p>
        <h1>Java, Javascript, C, Swift, Python</h1>
    </div>
    <div class="slide">
        <p>Full-Stack Web Development</p>
        <h1>Node.js, Python</h1>
    </div>
    <div class="slide">
        <p>Back-end Web Frameworks/Libraries</p>
        <h1>Flask, Express.js</h1>
    </div>
    <div class="slide">
        <p>Front-end Web Frameworks/Libraries</p>
        <h1>React.js, EJS, Jinja2, JQuery, Bootstrap</h1>
    </div>
    <div class="slide">
        <p>Data Bases</p>
        <h1>MySQL, Postgre, Mongo</h1>
    </div>
    <a href="#projects" class="down"><i class="fas fa-angle-down"></i></a>
</div>

