<div id="projects">
    <!--<div class="project-slides">-->
    <div class="controller" id="left">
        <i class="fas fa-angle-left"></i>
    </div>
    <div class="controller" id="right">
        <i class="fas fa-angle-right"></i>
    </div>
    <div id="slide-1" class="project-slides">
        <img src="/images/YelpCamp.png" alt="Yelp Camp Project">
        <div class="caption">
            <p>My implementation of Yelp Camp exercise from The Web Developer Bootcamp.</p>
            <div class="links">
                <a href="https://github.com/0bai/YelpCamp"><i class="fab fa-github-square"></i></a>
                <a href="https://github.com/0bai/YelpCamp"><i class="fas fa-external-link-square-alt"></i></a>
            </div>
        </div>
    </div>
    <div id="slide-2" class="project-slides hidden">
        <img src="/images/TodoList.png" alt="TodoList project">
        <div class="caption">
            <p>A single page todo list built with MongoDB, AJAX, JQuery, Node.js.</p>
            <div class="links">
                <a href="https://github.com/0bai/YelpCamp"><i class="fab fa-github-square"></i></a>
                <a href="https://github.com/0bai/YelpCamp"><i class="fas fa-external-link-square-alt"></i></a>
            </div>
        </div>
    </div>
</div>
<!--</div>-->