#about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }

  #intro {
    text-align: justify;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;


    #personal-img {
      width: 30%;
      height: 75%;
      border: white solid 10px;
      border-radius: 50%;
      @media screen and (max-height: 400px), screen and (max-width: 510px) {
        display: none;
      }
    }

    #summary {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-weight: 300;
      font-size: 1.25rem;
      height: 80%;
      justify-content: space-between;

      @media (max-width: 640px) {
        text-align: center;
        justify-content: space-around;
      }

      #honors {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        align-items: center;
        @media (max-height: 450px) {
          display: none;
        }
        @media (max-width: 640px) {
          display: none;
        }
        .badge {
          text-align: center;
          width: 28%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }


        img {
          padding: 0;
          width: 90%;
          height: 30%;
        }
      }
    }
  }
}