#header {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  background-color: #111214;
  color: #eee;
  text-align: center;
  font-variant: small-caps; }

#header * {
    font-weight: 100; }

@media (max-width: 640px) {
    #header {
        font-size: 14px;
        overflow-wrap: break-word;
    }
}

@media (max-height: 540px) {
    #header .down {
        display: none;
    }
}

#header .down {
    font-size: 60px;
    position: absolute;
    left: 47%;
    top: 90%;
    width: 5%;
    color: #eeeeee;
}

#header .slide {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    white-space: nowrap;
    animation: fadein 30s infinite;
}

@media (max-width: 510px) {
    #header .slide h1 {
        font-size: 18px;
        white-space: normal;
        min-height: 100px;
    }
}

#header .slide h1 {
    letter-spacing: 16px;
}

#header .slide h1 p {
    margin: 2px 0;
}

@keyframes fadein {
  6.666666666666667%, 8.333333333333334% {
    opacity: 1; }
  0%, 13.333333333333334%, 100% {
    opacity: 0; } }

#header .slide:nth-child(1) {
    animation-delay: 0s;
}

#header .slide:nth-child(2) {
    animation-delay: 5s;
}

#header .slide:nth-child(3) {
    animation-delay: 10s;
}

#header .slide:nth-child(4) {
    animation-delay: 15s;
}

#header .slide:nth-child(5) {
    animation-delay: 20s;
}

#header .slide:nth-child(6) {
    animation-delay: 25s;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
    background-color: #eeeeee;
}
  footer #social {
    font-size: 50px;
    margin: 20px; }
  footer p {
    margin: 10px; }

#about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%; }
  #about h1 {
    font-size: 2.5em;
    font-weight: 400; }
  #about #intro {
    text-align: justify;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%; }
    #about #intro #personal-img {
      width: 30%;
      height: 75%;
      border: white solid 10px;
      border-radius: 50%; }

@media screen and (max-height: 400px), screen and (max-width: 510px) {
    #about #intro #personal-img {
        display: none;
    }
}
    #about #intro #summary {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-weight: 300;
      font-size: 1.25rem;
      height: 80%;
      justify-content: space-between; }

@media (max-width: 640px) {
    #about #intro #summary {
        text-align: center;
        justify-content: space-around;
    }
}
      #about #intro #summary #honors {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50%;
        align-items: center; }

@media (max-height: 450px) {
    #about #intro #summary #honors {
        display: none;
    }
}

@media (max-width: 640px) {
    #about #intro #summary #honors {
        display: none;
    }
}
        #about #intro #summary #honors .badge {
          text-align: center;
          width: 28%;
          height: 100%;
          display: flex;
          flex-direction: column;
            justify-content: space-around;
        }
        #about #intro #summary #honors img {
          padding: 0;
          width: 90%;
            height: 30%;
        }

#projects {
  height: 100%;
  width: 100%;
    position: relative;
}

#projects .controller {
    z-index: 10;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 50%;
    font-size: 50px;
}

#projects #left {
    left: 0;
}

#projects #right {
    right: 0;
}

#projects .project-slides:hover .caption, #projects .project-slides:active .caption {
    visibility: visible;
    opacity: 1;
    transition: visibility .7s 100ms, opacity .7s 300ms ease-in;
}

#projects .hidden {
    display: none;
}

#projects .project-slides {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

#projects .project-slides .caption {
    display: flex;
    visibility: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eeeeee;
    height: 10%;
    position: relative;
    bottom: 10%;
    z-index: 1;
    opacity: 0;
}

#projects .project-slides .caption .links {
    display: flex;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#projects .project-slides .caption .links a {
    margin: 0 10%;
}

@media (max-width: 800px) {
    #projects .project-slides .caption {
        text-align: center;
        flex-direction: column;
    }
}

#projects .project-slides img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat','Open-Sans', "Lucida Grande", Helvetica, Arial, sans-serif; }

body a, body a:visited, body a:link, body a:hover, body a:active {
    text-decoration: none;
    color: #111214;
}

section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

/*# sourceMappingURL=style.css.map */